/* rgb(78, 160, 255); */

header {
    height: 100px;
    width: 1600px;
    background-color: rgb(78, 160, 255);
    background-image: url(../img/pattern.png);
    background-size: 400px;
}

#logo {
    width: 200px;
    position: relative;
    top: 40px;
    left: 5px;
}

h1 {
    margin-bottom: 0%;
    font-size: 36px;
}

.grigio {
    color: gray;
}

#azzurro {
    color: rgb(32, 169, 229);
}

.credits {
    font-size: 12px;
}

#data {
    font-size: 11px;
}

#foto_tim {
    margin-top: 20px;
}

p {
    width: 1600px;
}

.evidenziatore {
    background-color: yellow;
}

ul {
    padding-left: 16px;
}

.celle_strette {
    width: 25vw;
}

table {
    width: 1600px;
}

#table_head {
    background-color: rgb(32, 169, 229);
    color: white;
    font-weight: 800;
}

.table_blu {
    background-color: rgb(177, 229, 242);
}

#monitor {
    background-image: url(../img/monitor.jpg);
    width: 312px;
    height: 208px;
    color: white;
    font-size: 28px;
    margin-top: 10px;
}

#graph {
    background-image: url(../img/graph.jpg);
    width: 312px;
    height: 208px;
    color: white;
    font-size: 28px;
    margin-top: 10px;
}