/* rgb(78, 160, 255); */

header {
    height: 100px;
    background-color: rgb(78, 160, 255);
    background-image: url(../img/pattern.png);
    background-size: 400px;
}

#logo {
    width: 200px;
    position: relative;
    top: 40px;
    left: 5px;
}

h1 {
    margin-bottom: 0%;
    font-size: 36px;
}

.grigio {
    color: gray;
}

#azzurro {
    color: rgb(32, 169, 229);
}

.credits {
    font-size: 12px;
}

#data {
    font-size: 11px;
}

#foto_tim {
    margin-top: 20px;
}

.evidenziatore {
    background-color: yellow;
}

ul {
    padding-left: 16px;
}